<nav class=" lg:px-16 px-1 w-full navbarprincipal  sticky top-0  border-b z-10  bg-plomo-200 border-gray-350 shadow-md p-3 border-b flex justify-between items-center  ">
    <div class=" flex items-center justify-center">
        <img class="object-contain md:w-38 w-27" src="assets/img/login/logonombre.svg" alt="">
    </div>
    <div class="flex justify-end ruclogo  w-full">
        <div class="flex  items-center px-2 py-2">
            <div class="">
                <img class="object-contain lg:w-14 w-10 " src="assets/img/login/asociacion.svg"alt="">
            </div>
            <div class="flex justify-start w-auto">
                <div class=" pl-2 flex flex-col w-full lg:text-sm text-xs ">
                    <span class="text-oscuro-550 font-grande whitespace-nowrap">ARECOS SERVICE S.A.C</span>
                    <span class="text-plomo-400 font-grande text-left  whitespace-nowrap">20130193131</span>
                </div>
            </div>
        </div>
        <div class=" flex justify-end items-center px-5 py-2 ">
            <button routerLink="/login" class="text-sm font-medium focus:outline-none flex items-center bg-gray-800 rounded-2xl hover:bg-gray-900 text-white lg:py-4 lg:px-4 px-2 py-2">
                <svg class="object-contain lg:w-5 w-4 " viewBox="0 0 18 16" fill="none"xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 7.99998L4.4995 11.5551V8.88877H12.5986V7.11119H4.4995V4.44482L0 7.99998Z" fill="white" />
                    <path d="M9.90019 3.05398e-05C8.83608 -0.00288353 7.78196 0.202773 6.7989 0.605085C5.81584 1.0074 4.92338 1.59837 4.17322 2.34377L5.44568 3.60051C6.63535 2.42553 8.21737 1.77761 9.90019 1.77761C11.583 1.77761 13.165 2.42553 14.3547 3.60051C15.5444 4.77549 16.2004 6.33798 16.2004 8.00002C16.2004 9.66205 15.5444 11.2245 14.3547 12.3995C13.165 13.5745 11.583 14.2224 9.90019 14.2224C8.21737 14.2224 6.63535 13.5745 5.44568 12.3995L4.17322 13.6563C5.70215 15.1672 7.73592 16 9.90019 16C12.0644 16 14.0982 15.1672 15.6272 13.6563C17.157 12.1462 18.0002 10.1376 18.0002 8.00002C18.0002 5.86248 17.157 3.85382 15.6272 2.34377C14.877 1.59837 13.9845 1.0074 13.0015 0.605085C12.0184 0.202773 10.9643 -0.00288353 9.90019 3.05398e-05Z" fill="white" />
                </svg>
            </button>
        </div>
    </div>
</nav>

