<div class="fondo md:m-10 m-5 2xl:p-16  2xl:px-36 lg:px-20 p-1 object-contain ">
    <div class="2xl:pl-10 lg:justify-start flex md:justify-center "> <img class="object-contain w-52" src="assets/img/login/logonombre.svg" alt=""> </div>
    <section class="2xl:mx-60 lg:mx-36  2xl:py-7 md:mx-2 md:py-4 my-8 lg:my-0 ">
        <div class="formulario flex items-center rounded-2xl shadow-xl border-1 border-plomo-250 w-full bg-white 2xl:p-10 p-7">
            <!-- Iniciar Sesion -->
            <main class="w-full flex 2xl:gap-2  ">
                <section class="md:w-1/2 w-full md:border-r-1 md:pr-5  2xl:pr-0 md:border-plomo-300">
                    <p class="flex justify-center font-grande text-2xl text-oscuro-600">Iniciar Sesión</p>
                    <form class="space-y-7 2xl:py-7 2xl:px-20 py-4 px-1">
                        <div class="space-y-1">
                            <p>Ruc</p>
                            <div class="relative focus-within:text-gray-600 text-gray-400">
                                <input type="text" class="pr-4 pl-10 py-3 text-base  border-1 focus:ring-gray-500 rounded-md focus:border-gray-900 w-full  border-gray-300  focus:outline-none shadow text-gray-600" placeholder="00000000000">
                                <div class="absolute top-5 pl-3  flex">
                                    <svg class="object-contain w-6  " viewBox="0 0 20 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 10V2H0V0H4V10H2ZM20 8C20 8.53043 19.7893 9.03914 19.4142 9.41421C19.0391 9.78929 18.5304 10 18 10H14V8H18V6H16V4H18V2H14V0H18C18.5304 0 19.0391 0.210714 19.4142 0.585786C19.7893 0.960859 20 1.46957 20 2V3.5C20 3.89782 19.842 4.27936 19.5607 4.56066C19.2794 4.84196 18.8978 5 18.5 5C18.8978 5 19.2794 5.15804 19.5607 5.43934C19.842 5.72064 20 6.10218 20 6.5V8ZM12 8V10H6V6C6 5.46957 6.21071 4.96086 6.58579 4.58579C6.96086 4.21071 7.46957 4 8 4H10V2H6V0H10C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V4C12 4.53043 11.7893 5.03914 11.4142 5.41421C11.0391 5.78929 10.5304 6 10 6H8V8H12Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class=" space-y-1">
                            <p>Usuario</p>
                            <div class="relative focus-within:text-gray-600 text-gray-400">
                                <input type="text" class="pr-4 pl-10 py-3 text-base  border-1 focus:ring-gray-500 rounded-md focus:border-gray-900 w-full  border-gray-300  focus:outline-none shadow text-gray-600" placeholder="Aurelio20">
                                <div class="absolute top-4  pl-3  flex">
                                    <svg class="object-contain w-5" viewBox="0 0 22 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0ZM11 20.35C9.77207 20.3499 8.55618 20.108 7.42174 19.638C6.28731 19.168 5.25655 18.4792 4.38832 17.6109C3.5201 16.7426 2.8314 15.7117 2.36156 14.5772C1.89172 13.4428 1.64993 12.2268 1.65 10.9989C1.65007 9.77097 1.892 8.55507 2.36198 7.42064C2.83195 6.28621 3.52077 5.25545 4.3891 4.38722C5.25743 3.519 6.28827 2.8303 7.42276 2.36046C8.55725 1.89062 9.77317 1.64883 11.0011 1.6489C13.481 1.64905 15.8593 2.63433 17.6128 4.388C19.3662 6.14167 20.3512 8.52008 20.3511 11C20.351 13.4799 19.3657 15.8582 17.612 17.6117C15.8583 19.3651 13.4799 20.3501 11 20.35ZM11 11.55C7.6582 11.55 4.95 13.4508 4.95 15.4C4.95 17.3492 7.6582 19.25 11 19.25C14.3418 19.25 17.05 17.3492 17.05 15.4C17.05 13.4508 14.3418 11.55 11 11.55ZM11 11C11.8752 11 12.7146 10.6523 13.3335 10.0335C13.9523 9.41458 14.3 8.57521 14.3 7.7C14.3 6.82479 13.9523 5.98542 13.3335 5.36655C12.7146 4.74768 11.8752 4.4 11 4.4C10.1248 4.4 9.28542 4.74768 8.66655 5.36655C8.04768 5.98542 7.7 6.82479 7.7 7.7C7.7 8.57521 8.04768 9.41458 8.66655 10.0335C9.28542 10.6523 10.1248 11 11 11Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class=" space-y-1">
                            <p>Contraseña</p>
                            <div class="relative focus-within:text-gray-600 text-gray-400">
                                <input type="password" class="pr-4 pl-10 py-3 text-base  border-1 focus:ring-gray-500 rounded-md focus:border-gray-900 w-full  border-gray-300  focus:outline-none shadow text-gray-600" placeholder="**************">
                                <div class="absolute top-4 pl-3  flex">
                                    <svg class="object-contain w-4" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 0C5.243 0 3 2.243 3 5V8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V10C16 9.46957 15.7893 8.96086 15.4142 8.58579C15.0391 8.21071 14.5304 8 14 8H13V5C13 2.243 10.757 0 8 0ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5ZM9 15.723V18H7V15.723C6.65039 15.5228 6.36966 15.2213 6.19483 14.8584C6.02 14.4954 5.95928 14.0879 6.02068 13.6898C6.08208 13.2916 6.26272 12.9214 6.53876 12.6279C6.81481 12.3345 7.17332 12.1316 7.567 12.046C7.85942 11.9813 8.16262 11.9832 8.45425 12.0513C8.74587 12.1194 9.01849 12.2521 9.25198 12.4397C9.48548 12.6272 9.67391 12.8647 9.80337 13.1348C9.93283 13.4049 10 13.7005 10 14C9.99943 14.3497 9.90669 14.6932 9.73113 14.9956C9.55557 15.2981 9.30339 15.549 9 15.723Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="flex items-center 2xl:px-20 px-2">
                        <button routerLink="/web" class="bg-oscuro-600 2xl:mx-9 mx-6 hover:bg-black focus:outline-none text-white w-full px-5 py-4 rounded-3xl flex gap-2 items-center">
                            <span class="flex justify-center w-11/12 font-grande">Iniciar</span>
                            <span class="flex justify-end w-1/12">
                                <svg class="object-contain w-4" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 7.99997L12.86 7.99997L9.23 12.36C9.06026 12.5642 8.9786 12.8275 9.00298 13.0919C9.02736 13.3563 9.15578 13.6002 9.36 13.77C9.56422 13.9397 9.8275 14.0214 10.0919 13.997C10.3563 13.9726 10.6003 13.8442 10.77 13.64L15.77 7.63997C15.8036 7.59224 15.8337 7.54211 15.86 7.48997C15.86 7.43997 15.86 7.40997 15.93 7.35997C15.9753 7.24531 15.9991 7.12326 16 6.99997C15.9991 6.87668 15.9753 6.75463 15.93 6.63997C15.93 6.58997 15.93 6.55997 15.86 6.50997C15.8337 6.45783 15.8036 6.40769 15.77 6.35997L10.77 0.359969C10.676 0.247087 10.5582 0.156306 10.4252 0.0940847C10.2921 0.0318632 10.1469 -0.00026989 10 -3.14713e-05C9.76635 -0.000488281 9.53991 0.0808868 9.36 0.229968C9.25874 0.313917 9.17504 0.417019 9.11369 0.533366C9.05234 0.649714 9.01454 0.77702 9.00246 0.907996C8.99039 1.03897 9.00427 1.17105 9.04331 1.29665C9.08236 1.42225 9.1458 1.53892 9.23 1.63997L12.86 5.99997L1 5.99997C0.734783 5.99997 0.480429 6.10533 0.292892 6.29286C0.105356 6.4804 0 6.73475 0 6.99997C0 7.26518 0.105356 7.51954 0.292892 7.70708C0.480429 7.89461 0.734783 7.99997 1 7.99997Z" fill="white"/>
                                </svg>
                            </span>
                        </button>
                    </div>
                </section>
                <section class="md:w-1/2 md:flex hidden">
                    <div class="flex flex-col w-full ">
                        <p class="flex w-full justify-center text-center 2xl:px-16 px-6">
                            Para acceder utiliza las mismas credenciales de acceso que usas en tu sistema.
                        </p>
                        <span class="flex w-full justify-center 2xl:pt-0 pt-7"> <img class="object-contain w-94" src="assets/img/login/credenciales.svg" alt=""></span>
                    </div>
                </section>
            </main>
        </div>
    </section>
</div>