.card {
    width: 230px;
    height: 170px;
    background: #457CE3;
    border-radius: 10px;
}

table {
    width: 100%;
}

.example-table-container {
    position: relative;
    max-height: 30vh;
    overflow: auto;
    padding: 0 10px;
}

.example-container {
    max-height: 60vh;
    overflow-y: auto;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

th.mat-header-cell[_ngcontent-gfx-c127],
td.mat-cell[_ngcontent-gfx-c127],
td.mat-footer-cell[_ngcontent-gfx-c127] {
    padding: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 13.5px;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-color: rgba(0, 0, 0, .12);
    font-size: 13.5px;
}

.text {
    font-size: 14.5px;
}