<div class="fixed bottom-20 z-40 left-3 ">
    <div class=" relative  p-2 card  bg-blue-600  rounded">
        <div class="absolute -top-16 right-0">
            <img class="h-48 " src="assets/img/adim/deudas.svg" alt="">
            <img class="h-48 hidden" src="assets/img/adim/correcto.svg" alt="">
            <img class="h-48 hidden " src="assets/img/adim/porcobrar.svg" alt="">
        </div>
        <div class=" mx-auto pt-10 items-center">
            <p class="text-white text-am  pt-1">Hoy</p>
            <p class="text-white text-4xl font-grande pt-1">10</p>
            <p class="text-white text-sm pt-1">Empresas para cobranza...</p>
        </div>
    </div>
    <button class="py-2  w-full bg-gray-50 hover:bg-blue-50 text-sm font-medium rounded focus:outline-none border-2 border-gray-900">Recargar Pagina</button>
</div>

<table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element">
            <div class="flex items-center">
                <img class="w-7 h-7" src="assets/img/adim/empresa.svg" alt="">
                <span class="pl-3">{{element.position}}</span>
            </div>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ruc">
        <th mat-header-cell *matHeaderCellDef> RUC</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="contacto">
        <th mat-header-cell *matHeaderCellDef> Contacto </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo</th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button class="  rounded focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                  </svg>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>