<main  class="w-123 font-Roboto">
   <section class=" border-b-1 border-plomo-150 ">
       <div class="p-6 flex justify-between items-center text-black">
            <span class="font-grande text-xl">Subir Vouchers</span>
            <button mat-dialog-close  class="focus:outline-none"> <img src="assets/img/cerrar.svg" alt=""></button>
       </div>
   </section>
    <section class="p-6">
        <div class="border-dashed border-2 flex flex-col justify-center border-plomo-290 px-5 py-11">
           <div class="text-plomo-190 font-grande">
            <div  class="flex justify-center ">Arrastre aqui para subir voucher</div>
            <div class="flex justify-center py-2">o</div>
                <div class="flex items-center justify-center">
                    <div class="">
                        <button  class="bg-oscuro-480 hover:bg-oscuro-650 text-white w-full px-20 py-2 rounded-md focus:outline-none">Examinar</button>
                    </div>
                </div>
           </div>
        </div>
        <div class="pt-5">
            <div class="">
                <span class="font-medium text-oscuro-850">Nota:</span><span class="text-plomo-270 pl-3">La verificación de su pago puede tomar algunas horas en el caso de ser una transferencia <span class="text-azul-450">Interbancaria</span>. De ser una trasferencia <span class="text-azul-450">bancaria común</span> el tiempo de verificación se reduce a minutos, cuando se haya verificado su pago el entorno web se actualizará.</span>  
            </div>
        </div>
        <div class="flex items-center pt-5 justify-between">
            <div class="flex">
                <label name="heleido" class="whitespace-nowrap w-full cursor-pointer flex justify-start items-center gap-3 py-4">
                    <input type="checkbox" name="heleido" class="border-2 text-azul-400 rounded-sm cursor-pointer border-plomo-260" >
                    <span class="text-black">He leido la nota y estoy de acuerdo</span>
                </label>
            </div>
            <div>
                <div class="hidden"><button class="bg-plomo-450 hover:bg-plomo-400 flex items-center gap-3 px-6 py-3 rounded-md focus:outline-none"> <span class="text-white font-grande ">Enviar</span>   <span><img src="assets/img/enviar.svg" alt=""></span> </button></div>
                <div><button  class="bg-plomo-450 hover:bg-azul-450 flex items-center gap-3 px-6 py-3 rounded-md focus:outline-none"> <span class="text-white font-grande ">Enviar</span>   <span><img src="assets/img/enviar.svg" alt=""></span> </button></div>
            </div>
        </div>
    </section>
</main>
