<div class="w-full h-auto">
    <div class="2xl:mx-20 2xl:py-14 lg:mx-5 lg:py-5 mx-4 py-2">
        <main class="px-3 md:px-5">
            <!-- Aviso de estado de deudas o pagos -->
            <!-- Aviso de Deuda -->
            <section *ngIf="cerrar" class="">
                <div class="flex mb-10  mt-5 lg:mt-0 justify-between items-center gap-5 bg-rojo-50 border-2 border-rojo-150 p-4 rounded-md">
                    <div class="flex gap-5 items-center"><span><img src="assets/img/alerta.svg" alt=""></span><span class="font-grande text-oscuro-420">Tienes deudas pendietes,<span class="font-normal text-oscuro-300"> evita las suspenciones del servicio.</span> </span>
                    </div>
                    <button (click)="onCerrar()" class="focus:outline-none "><img class="object-contain w-3" src="assets/img/x.svg" alt=""></button>
                </div>
            </section>
            <!-- Aviso de Pago Cuncluido -->
            <section *ngIf="cerrar" class="hidden">
                <div class="flex mb-10 mt-5 lg:mt-0 justify-between items-center gap-5 bg-azul-300 bg-opacity-10 border-2 border-azul-300  p-4 rounded-md">
                    <div class="flex gap-5 items-center"><span><img src="assets/img/correct.svg" alt=""></span><span class="font-grande text-oscuro-420">Felicidades!<span class="font-normal text-oscuro-300"> usted no tiene deudas pendientes.</span> </span>
                    </div>
                    <button (click)="onCerrar()" class="focus:outline-none "><img class="object-contain w-3" src="assets/img/x.svg" alt=""></button>
                </div>
            </section>
            <!-- Deudas -->
            <div class=" ">
                <p class="text-oscuro-900 font-medium lg:text-lg text-xs uppercase">DEUDAS</p>
                <section class=" flex flex-wrap border-1 border-plomo-150 bg-white shadow-md rounded-sm">
                    <div class="2xl:w-5/7 md:w-4/7 w-full ">
                        <div class="lg:h-83 h-80 lg:px-7 px-3 overflow-y-auto scroollpersonalizadotabla tablas bg-white">
                            <!-- Sin datos en la tabla -->
                            <div class="w-full sm:pt-8  h-full hidden  ">
                                <div class="flex flex-col w-full h-full items-center  justify-center  ">
                                    <div class="flex justify-center"><img class=" object-contain xl:w-80 w-64 " src="assets/img/okey.svg" alt=""></div>
                                </div>
                            </div>
                            <!-- Con Datos en la tabla -->
                            <table class="w-full  md:pt-0 tabladeudas relative scroollpersonalizadotabla  overflow-x-auto  whitespace-no-wrap bg-white border-collapse table-auto table-striped  tablaretorno  scroollpersonalizadotabla   whitespace-no-wrap table-striped ">
                                <thead class="w-full ">
                                    <tr>
                                        <th class="w-5/6 ">
                                            <div class="whitespace-nowrap w-full pl-5 pr-10 flex justify-start  font-medium "> Descripción de servicios</div>
                                        </th>
                                        <th class="w-1/6 ">
                                            <div class="whitespace-nowrap w-full pl-5 pr-10 flex  md:justify-end justify-center xl:pr-10 font-medium"> Montos</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="w-5/6"> <div class="whitespace-nowrap w-full font-normal pl-5 pr-10 flex text-oscuro-400 justify-start ">Servicios FacTEDSOL </div> </th>
                                        <th class="w-1/6"> <div div class="" ></div></th>
                                    </tr> 
                                </thead>
                                <tbody class="text-oscuro-400 ">
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>

                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="w-5/6   ">
                                            <div class="whitespace-wrap  pr-10 pl-10  w-full  justify-start"> <span class="list-item">Envio de comprobantes elrctronicos (Enero 2021)</span> </div>
                                        </td>
                                        <td class="w-1/6   ">
                                            <div class="whitespace-nowrap  pr-10 pl-5  w-full flex md:justify-end justify-center text-oscuro-450 font-medium ">S/. 8,667.00</div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="relative 2xl:w-2/7 md:w-3/7 w-full lg:px-11 lg:py-7 px-3 py-2 rounded-md   bg-oscuro-480 text-white">
                        <!-- dinamico: Estado Con Deuda -->
                        <div class="absolute top-1 right-2 "><img src="assets/img/decoracionrojo1.svg" alt=""></div>
                        <!-- dinamico: Estado Sin Deuda -->
                        <div class="absolute top-1 right-2 hidden"><img src="assets/img/decoracion1.svg" alt=""></div>
                        <div class="">
                            <!-- titulo -->
                            <div class="text-lg font-grande">TOTAL:</div>

                            <!-- dinamico: Estado Con Deuda -->
                            <div class="">
                                <div class="pt-3 lg:text-base  flex items-center gap-5 text-sm">
                                    <span class="relative">
                                        <div class="absolute -right-2 -top-1 h-1 w-1  p-1 bg-red-400 rounded-full bottom-4 animate-ping"></div>
                                        <div class="absolute -right-2 -top-1 h-1 w-1  p-1 bg-red-400 border border-white rounded-full bottom-4"></div>
                                    </span>
                                    <span> Deuda de Enero 31 del 2021</span>
                                </div>
                            </div>
                            <!-- dinamico: Estado Renocavion-->
                            <div class="hidden">
                                <div class="pt-3 lg:text-base flex items-center gap-5 text-sm ">Renovación de certificado digital</div>
                            </div>

                            <!-- dinamico: Estado Con Deuda -->
                            <div class="pt-9 ">
                                <div class="flex items-center justify-between pt-7 pb-8">
                                    <span class="lg:text-sm text-xs">S/.</span>
                                    <span class="lg:text-4xl text-2xl">3280.00</span>
                                </div>
                            </div>
                            <!-- dinamico: Estado Sin Deuda -->
                            <div class=" pt-9 hidden">
                                <div class="flex items-center justify-between pt-7 pb-8">
                                    <span class="lg:text-sm text-xs">S/.</span>
                                    <span class="lg:text-4xl text-2xl">0.00</span>
                                </div>
                            </div>

                            <!-- dinamico: Estado Sin Deuda -->
                            <div class="pb-9 lg:text-base text-sm text-plomo-280 pr-14 hidden "> Felicidades, por el momento no tienes ninguna deuda, asegurate de ser puntual en tus pagos asi evitaras suspenciones en el servicio.</div>
                            <!-- dinamico: Estado Con Deuda -->
                            <div class="pb-9 lg:text-base text-sm text-plomo-280 pr-14 ">* Realiza pagar a tiempo para evitar suspenciones en el servicio.</div>
                            <!-- dinamico: Estado Renovacion -->
                            <div class="pb-9 lg:text-base text-sm text-plomo-280 pr-14 hidden">*Asegurece de entregar o enviar la documentacion requerida para la renovación de su certificado digital</div>
                            <div class="">
                                <button (click)="onAbrirVoucher()" class="flex gap-3 pt-8 focus:outline-none">
                                    <img src="assets/img/camara.svg" alt=""><a class="underline font-medium md:text-base text-sm">Subir Voucher</a>
                                </button>
                            </div>
                            <!-- dinamico: Estado Renovacion y Con Deuda -->
                            <div class="pt-6 ">
                                <button (click)="onPagarAhora()" class="border-2 lg:text-base text-xs font-grande transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 border-white focus:outline-none rounded-md lg:px-6 lg:py-3 px-4 py-2 hover:bg-white hover:text-black">PAGAR AHORA</button>
                            </div>
                            <!-- dinamico: Estado Sin deuda -->
                            <div class="pt-6 opacity-20 hidden">
                                <button class="border-2 lg:text-base text-xs font-grande border-white focus:outline-none rounded-md lg:px-6 lg:py-3 px-4 py-2 ">PAGAR AHORA</button>
                            </div>
                        </div>
                        <!-- dinamico: Estado Sin Deuda -->
                        <div class="absolute bottom-1 right-2 hidden"><img src="assets/img/decoracion2.svg" alt=""></div>
                        <!-- dinamico: Estado Con Deuda -->
                        <div class="absolute bottom-1 right-2 "><img src="assets/img/decoracionrojo2.svg" alt=""></div>
                    </div>

                </section>
            </div>
            <!-- Certificado e Historia de Pagos -->
            <div class=" pt-8 flex flex-wrap md:flex-nowrap lg:gap-10  gap-5 ">
                <div class="w-full">
                    <p class="text-oscuro-900 font-medium lg:text-lg text-xs uppercase">HISTORIAL DE PAGOS</p>
                    <div class=" border-1 border-plomo-150 shadow-md rounded-sm">
                        <div class="overflow-y-auto w-full h-88 scroollpersonalizadotabla tablas bg-white">
                            <div class="h-full ">

                                <div class=" h-85  overflow-y-auto scroollpersonalizadotabla tablas bg-white">
                                    <table class="w-full md:pt-0 tabladeudas relative scroollpersonalizadotabla  overflow-x-auto  whitespace-no-wrap bg-white border-collapse table-auto table-striped  tablaretorno  scroollpersonalizadotabla   whitespace-no-wrap table-striped ">
                                        <thead class="w-full ">
                                            <tr>
                                                <th class="w-1/6 pl-10">
                                                    <div class="whitespace-nowrap pr-10 gap-5 items-center w-full flex justify-start font-medium "> 
                                                        <span>Sistema </span>
                                                        <span>
                                                            <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.5 7L0.73686 0.25L10.2631 0.25L5.5 7Z" fill="#7B7B7B"/>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="w-1/6 pl-5">
                                                    <div class="whitespace-nowrap pr-10 gap-5 items-center w-full flex justify-start font-medium ">
                                                        <span> Tipo Facturación</span>
                                                        <span>
                                                            <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.5 7L0.73686 0.25L10.2631 0.25L5.5 7Z" fill="#7B7B7B"/>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                
                                                </th>
                                                <th class="w-1/6 pl-5">
                                                    <div class="whitespace-nowrap pr-10 gap-5 items-center w-full flex justify-start font-medium ">
                                                        <span>Fecha</span> 
                                                        <span>
                                                            <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.5 7L0.73686 0.25L10.2631 0.25L5.5 7Z" fill="#7B7B7B"/>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th class="w-1/6 pl-5">
                                                    <div class="whitespace-nowrap pr-10 w-full flex justify-start font-medium ">Monto</div>
                                                </th>
                                                <th class="w-1/6 pl-5">
                                                    <div class="whitespace-nowrap pr-10 w-full flex justify-start font-medium ">Estado</div>
                                                </th>
                                                <th class="w-1/6 pl-5">
                                                    <div class="whitespace-nowrap pr-10 w-full flex justify-start font-medium ">Detalle</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-oscuro-650 font-medium">
                                            <tr>
                                                <td class="w-1/6  pl-10 ">
                                                    <div class="whitespace-wrap   w-full pr-10 justify-start"> FacTEDSOL </div>
                                                </td>
                                                <td class="w-1/6  pl-5 ">
                                                    <div class="whitespace-wrap   w-full pr-10 justify-start"> Mensual </div>
                                                </td>
                                                <td class="w-1/6  pl-5 ">
                                                    <div class="whitespace-wrap  w-full pr-10  justify-start"> 04 Diciembre 2020 </div>
                                                </td>
                                                <td class="w-1/6  pl-5 ">
                                                    <div class="whitespace-wrap  w-full pr-10  justify-start"> S/. 59.00 </div>
                                                </td>
                                                <td class="w-1/6  pl-5 ">
                                                    <div class="whitespace-wrap  w-full pr-10  justify-start text-verde-500 font-grande"> Pagado </div>
                                                </td>
                                                <td class="w-1/6  pl-5 ">
                                                    <div class="whitespace-wrap  w-full pr-10 justify-start ">
                                                        <button class="whitespace-wrap focus:outline-none w-full flex justify-start">
                                                            <span class="bg-azul-50   text-azul-470 font-semibold p-3 rounded-xl"><img src="assets/img/guardar.svg" alt=""></span>   
                                                        </button>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>