<div class="navbar flex items-center px-1 sm:px-4 bg-yellow-500">
    <!-- nav left -->
    <ul class="navbar-nav flex items-center px-4">
        <li class="nav-item ">
            <a routerLink="/ventarapida" class=" cursor-pointer items-center  flex flex-wrap ">
                <div class=" flex items-center justify-center">
                    <img class="object-contain  w-27" src="assets/img/login/logonombre.svg" alt="">
                </div>
            </a>
        </li>

        <li class="nav-item pl-3 md:pl-12">
            <a class="nav-link" onclick="collapseSidebar()">
                <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                  </svg>
            </a>
        </li>
    </ul>


    <!-- nav right -->
    <ul class="navbar-nav nav-right flex items-center space-x-6">

        <li class="nav-item dropdown">
            <div class="relative">
                <div class="absolute right-0 p-1 bg-red-400 rounded-full border-red-500 animate-ping"></div>
                <div class="absolute right-0 p-1 bg-red-400 border border-red-500 rounded-full"></div>
                <button data-toggle="notification-menu" class=" p-2 dropdown-toggle  bg-gray-100 rounded-full hover:bg-gray-200 focus:outline-none ">
                    <svg class="w-6 h-6 text-gray-600 dropdown-toggle" data-toggle="notification-menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                 </button>
            </div>
            <ul id="notification-menu" class="dropdown-menu notification-menu mt-4 transition duration-700 ease-in">
                <div class="dropdown-menu-header">
                    <span class="text-gray-700 text-sm justify-start flex  font-medium">NOTIFICACIONES</span>
                </div>
                <div class="dropdown-menu-content overlay-scrollbar scrollbar-hover">
                    <div class="bg-white rounded-md w-full px-2">
                        <ul class="flex flex-col p-2 my-2 space-y-1 ">
                            <li class="flex">
                                <span>
                                    <svg class="text-yellow-600 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />  </svg>
                                </span>
                                <div class="flex flex-col ml-3 textsm">
                                    <span class="text- text-gray-700"> <span class="text-yellow-600 font-medium">Tienes 22 deudas pendientes, </span >Prioriza las deudas de monto grande..</span>
                                    <span class="text-xs mt-1 text-gray-400">Hace 2 minutos</span>
                                </div>
                            </li>
                            <li class="flex pt-2 ">
                                <span>  
                                    <svg class="text-green-600 w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"    fill="currentColor">  <path fill-rule="evenodd"   d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"clip-rule="evenodd" />              </svg>
                                </span>
                                <div class="flex flex-col ml-3">
                                    <span class=" text- font-normal text-gray-700"> 
                                        <span class="text-green-600 font-medium">Realizaron un Pago, </span>ya puedes volver a usar tu FacTEDSOL sin limites...</span>
                                    <span class="text-xs mt-1 text-gray-400">Hace 21 minutos</span>
                                </div>
                            </li>

                            <li class="flex pt-2 ">
                                <span>  
                                    <svg class="w-7 h-7 text-red-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M12 2L1 21h22M12 6l7.53 13H4.47M11 10v4h2v-4m-2 6v2h2v-2" /></svg>
                                </span>
                                <div class="flex flex-col ml-3">
                                    <span class=" text- font-normal text-gray-700"> <span class="text-red-600 font-medium">Revisión de, </span>ya puedes volver a usar tu FacTEDSOL sin limites...</span>
                                    <span class="text-xs mt-1 text-gray-400">Hace 21 minutos</span>
                                </div>
                            </li>
                            <li class="flex pt-2 ">
                                <div class="flex-shrink-0 w-7 h-7">
                                    <img class="w-7 h-7 rounded-full object-cover bg-no-repeat" src="https://enterate24backup.s3.us-east-2.amazonaws.com/wp-content/uploads/2020/07/20132159/comisionado_de_cultura_elige_romeo_santos_como_musico_dominicano_destacado_en_ee_uu_.jpg" alt="" />
                                </div>
                                <div class="flex flex-col ml-3">
                                    <span class=" text- font-normal text-gray-500"> <span
                      class="text-gray-800 font-medium">Lorem ipsum ,</span>ya puedes volver a usar tu FacTEDSOL sin limites...</span>

                                    <span class="text-xs mt-1 text-gray-400">Hace 40 minutos</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </li>
        <li class="nav-item avt-wrapper">
            <div class="avt dropdown">
                <div class="relative flex items-center">
                    <span data-toggle="user-menu" class=" dropdown-toggle  focus:outline-none flex items-center">
                        <span class="w-11 object-cover  relative float-right mr-2 cursor-pointer hover:text-gray-700 ">
                            <img id="logo1" data-toggle="user-menu"
                                class="object-cover border border-gray-200  dropdown-toggle w-10 h-10 rounded-md shadow"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" alt="logo"  />
                            <div class="absolute right-0 p-1 bg-green-400 rounded-full bottom-4 animate-ping"></div>
                            <div class="absolute right-0 p-1 bg-green-400 border border-white rounded-full bottom-4">
                            </div>
                        </span>

                    <span data-toggle="user-menu" class="text-xs font-medium  dropdown-toggle ">ARECOS </span>
                    <div class="ml-2 hidden md:block">
                        <svg data-toggle="user-menu" class="h-5 w-5 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                    </div>
                    </span>
                </div>

                <main id="user-menu" class="dropdown-menu">
                    <div class=" w-full">
                        <!-- Nombre y su cargo -->
                        <section class="text-center w-full">
                            <div class="flex justify-center pt-3"><img id="logo2" class="object-cover h-36 w-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" alt="logo"></div>
                            <div class="font-medium">jose peres velasques</div>
                            <div class="text-gray-400 text-sm">Administrador</div>
                        </section>
                        <!-- Botones  -->
                        <section class="grid grid-cols-1 md:grid-cols-2 md:flex  md:justify-center w-full pb-5 border-b border-gray-200 ">
                            <div class="focus:outline-none col-span-1  flex justify-center">
                                <button [routerLink]="['/login']" routerLinkActive="router-link-active" class=" rounded-md text-sm focus:outline-none px-10 py-2 text-white bg-azul-450">  Cerrar Sesión</button>
                            </div>
                        </section>
                    </div>
                </main>
            </div>
        </li>
    </ul>
    <!-- end nav right -->
</div>