<div class="fixed bottom-10 z-40 left-2 card  bg-blue-600  rounded">
    <div class=" relative  p-2">
        <div class="absolute -top-16 right-0">
            <img class="h-52 hidden" src="assets/img/adim/deudas.svg" alt="">
            <img class="h-52 hidden" src="assets/img/adim/correcto.svg" alt="">
            <img class="h-52 " src="assets/img/adim/porcobrar.svg" alt="">
        </div>
        <div class=" mx-auto pt-5 items-center">
            <p class="text-white text-sm font-grande">Hoy</p>
            <p class="text-white text-lg font-grande pt-5">10</p>
            <p class="text-white  font-grande pt-5">Empresas para cobranza...</p>
        </div>
    </div>
</div>