<!-- Siderbar de configuraciones  -->
<aside class="sidebar">
    <ul class="sidebar-nav">
        <!-- mantenimiento -->
        <li class="sidebar-nav-item mt-8">
            <a routerLink="/admin/registrocertificado" class="sidebar-nav-link  hover:bg-blue-50 hover:text-amarillo-600" (click)="toggleTabs(1)" [ngClass]="{'text-gray-800': !openTab1, 'active': openTab1}">
                <div>
                    <svg class="h-6 w-6 fill-current" width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.55556 2C3.55556 1.46957 3.76627 0.960859 4.14134 0.585787C4.51642 0.210714 5.02512 0 5.55556 0H13.1111C13.6415 0 14.1503 0.210714 14.5253 0.585787C14.9004 0.960859 15.1111 1.46957 15.1111 2V8.88889H18.2222V11.7778C18.2222 12.544 17.9179 13.2788 17.3761 13.8205C16.8343 14.3623 16.0995 14.6667 15.3333 14.6667H10.6667V13.3333H13.7778V2C13.7778 1.82319 13.7075 1.65362 13.5825 1.5286C13.4575 1.40357 13.2879 1.33333 13.1111 1.33333H5.55556C5.37875 1.33333 5.20918 1.40357 5.08415 1.5286C4.95913 1.65362 4.88889 1.82319 4.88889 2V8.88889H3.55556V2ZM15.1111 13.3333H15.3333C15.7459 13.3333 16.1416 13.1694 16.4333 12.8777C16.725 12.586 16.8889 12.1903 16.8889 11.7778V10.2222H15.1111V13.3333ZM11.7778 11.1111H10.6667C10.6673 10.6302 10.5113 10.1621 10.2222 9.77778H11.7778C11.9546 9.77778 12.1242 9.84802 12.2492 9.97304C12.3742 10.0981 12.4444 10.2676 12.4444 10.4444C12.4444 10.6213 12.3742 10.7908 12.2492 10.9158C12.1242 11.0409 11.9546 11.1111 11.7778 11.1111ZM6.22222 4.22222C6.22222 4.04541 6.29246 3.87584 6.41749 3.75082C6.54251 3.62579 6.71208 3.55556 6.88889 3.55556H11.7778C11.9546 3.55556 12.1242 3.62579 12.2492 3.75082C12.3742 3.87584 12.4444 4.04541 12.4444 4.22222C12.4444 4.39903 12.3742 4.5686 12.2492 4.69363C12.1242 4.81865 11.9546 4.88889 11.7778 4.88889H6.88889C6.71208 4.88889 6.54251 4.81865 6.41749 4.69363C6.29246 4.5686 6.22222 4.39903 6.22222 4.22222ZM6.22222 7.33333C6.22222 7.15652 6.29246 6.98695 6.41749 6.86193C6.54251 6.73691 6.71208 6.66667 6.88889 6.66667H11.7778C11.9546 6.66667 12.1242 6.73691 12.2492 6.86193C12.3742 6.98695 12.4444 7.15652 12.4444 7.33333C12.4444 7.51014 12.3742 7.67971 12.2492 7.80474C12.1242 7.92976 11.9546 8 11.7778 8H6.88889C6.71208 8 6.54251 7.92976 6.41749 7.80474C6.29246 7.67971 6.22222 7.51014 6.22222 7.33333ZM0 11.1111C0 10.7575 0.140476 10.4184 0.390524 10.1683C0.640573 9.91825 0.979711 9.77778 1.33333 9.77778H8.44444C8.79807 9.77778 9.13721 9.91825 9.38725 10.1683C9.6373 10.4184 9.77778 10.7575 9.77778 11.1111V14.6667C9.77778 15.0203 9.6373 15.3594 9.38725 15.6095C9.13721 15.8595 8.79807 16 8.44444 16H1.33333C0.979711 16 0.640573 15.8595 0.390524 15.6095C0.140476 15.3594 0 15.0203 0 14.6667V11.1111ZM8.88889 11.5556C8.65314 11.5556 8.42705 11.4619 8.26035 11.2952C8.09365 11.1285 8 10.9024 8 10.6667H7.11111C7.11111 11.1382 7.29841 11.5903 7.63181 11.9237C7.96521 12.2571 8.41739 12.4444 8.88889 12.4444V11.5556ZM8.88889 13.3333C8.41739 13.3333 7.96521 13.5206 7.63181 13.854C7.29841 14.1874 7.11111 14.6396 7.11111 15.1111H8C8 14.8754 8.09365 14.6493 8.26035 14.4826C8.42705 14.3159 8.65314 14.2222 8.88889 14.2222V13.3333ZM1.77778 10.6667C1.77778 10.9024 1.68413 11.1285 1.51743 11.2952C1.35073 11.4619 1.12464 11.5556 0.888889 11.5556V12.4444C1.36038 12.4444 1.81257 12.2571 2.14597 11.9237C2.47937 11.5903 2.66667 11.1382 2.66667 10.6667H1.77778ZM2.66667 15.1111C2.66667 14.6396 2.47937 14.1874 2.14597 13.854C1.81257 13.5206 1.36038 13.3333 0.888889 13.3333V14.2222C1.12464 14.2222 1.35073 14.3159 1.51743 14.4826C1.68413 14.6493 1.77778 14.8754 1.77778 15.1111H2.66667ZM6.44445 12.8889C6.44445 12.4763 6.28056 12.0807 5.98883 11.7889C5.69711 11.4972 5.30145 11.3333 4.88889 11.3333C4.47633 11.3333 4.08067 11.4972 3.78895 11.7889C3.49722 12.0807 3.33333 12.4763 3.33333 12.8889C3.33333 13.3014 3.49722 13.6971 3.78895 13.9888C4.08067 14.2806 4.47633 14.4444 4.88889 14.4444C5.30145 14.4444 5.69711 14.2806 5.98883 13.9888C6.28056 13.6971 6.44445 13.3014 6.44445 12.8889Z" />
                        </svg>
                </div>
                <span class="text-sm font-medium">Mantenimiento</span>
            </a>
        </li>



        <!-- Gestion Pagos -->
        <li class="sidebar-nav-item">
            <a routerLink="/admin/gestionpagos" class="sidebar-nav-link  hover:bg-blue-50 hover:text-amarillo-600" (click)="toggleTabs(2)" [ngClass]="{'text-gray-800': !openTab2, 'active': openTab2}">
                <div>
                    <svg class="h-6 w-6 fill-current" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.08983 7.19971C3.92805 7.19971 3.76991 7.24661 3.63539 7.33447C3.50088 7.42233 3.39604 7.54721 3.33413 7.69332C3.27222 7.83943 3.25602 8.0002 3.28758 8.15531C3.31914 8.31042 3.39705 8.4529 3.51144 8.56472C3.62584 8.67655 3.77158 8.7527 3.93025 8.78356C4.08892 8.81441 4.25339 8.79858 4.40285 8.73806C4.55232 8.67754 4.68007 8.57505 4.76995 8.44355C4.85982 8.31206 4.9078 8.15746 4.9078 7.99932C4.9078 7.78725 4.82162 7.58387 4.66822 7.43391C4.51482 7.28396 4.30677 7.19971 4.08983 7.19971ZM8.88311 5.96033L3.03465 0.235157C2.95839 0.160603 2.86785 0.101464 2.7682 0.0611153C2.66856 0.020767 2.56175 0 2.4539 0C2.34604 0 2.23924 0.020767 2.1396 0.0611153C2.03995 0.101464 1.94941 0.160603 1.87314 0.235157C1.71912 0.385725 1.63259 0.58994 1.63259 0.802876C1.63259 1.01581 1.71912 1.22003 1.87314 1.3706L2.9365 2.40209H2.4539C1.80308 2.40209 1.17893 2.65482 0.71873 3.10468C0.258535 3.55455 0 4.16469 0 4.8009V11.1977C0 11.8339 0.258535 12.4441 0.71873 12.894C1.17893 13.3438 1.80308 13.5965 2.4539 13.5965H14.388L16.5965 15.7635C16.6726 15.8384 16.763 15.8979 16.8627 15.9385C16.9624 15.9791 17.0693 16 17.1773 16C17.2853 16 17.3922 15.9791 17.4919 15.9385C17.5915 15.8979 17.682 15.8384 17.758 15.7635C17.8347 15.6891 17.8956 15.6007 17.9371 15.5033C17.9786 15.4058 18 15.3013 18 15.1958C18 15.0902 17.9786 14.9857 17.9371 14.8882C17.8956 14.7908 17.8347 14.7024 17.758 14.628L8.88311 5.96033ZM8.27782 7.6315L9.37389 8.70297C9.25819 8.76406 9.12912 8.79697 8.99763 8.79892C8.78069 8.79892 8.57264 8.71468 8.41924 8.56472C8.26584 8.41477 8.17966 8.21139 8.17966 7.99932C8.18166 7.87078 8.21533 7.74461 8.27782 7.6315ZM2.4539 11.9973C2.23696 11.9973 2.02891 11.9131 1.87551 11.7631C1.72211 11.6132 1.63593 11.4098 1.63593 11.1977V4.8009C1.63593 4.58883 1.72211 4.38545 1.87551 4.23549C2.02891 4.08554 2.23696 4.00129 2.4539 4.00129H4.57243L7.10813 6.48007C6.74587 6.90741 6.54641 7.44432 6.54373 7.99932C6.54373 8.63552 6.80226 9.24567 7.26246 9.69553C7.72265 10.1454 8.34681 10.3981 8.99763 10.3981C9.56537 10.3955 10.1146 10.2005 10.5518 9.8464L12.7521 11.9973H2.4539ZM15.5414 2.40209H9.53749C9.32055 2.40209 9.1125 2.48633 8.9591 2.63628C8.8057 2.78624 8.71952 2.98962 8.71952 3.20169C8.71952 3.41376 8.8057 3.61714 8.9591 3.7671C9.1125 3.91705 9.32055 4.00129 9.53749 4.00129H15.5414C15.7583 4.00129 15.9663 4.08554 16.1197 4.23549C16.2731 4.38545 16.3593 4.58883 16.3593 4.8009V10.67C16.3593 10.8821 16.4455 11.0854 16.5989 11.2354C16.7523 11.3854 16.9604 11.4696 17.1773 11.4696C17.3942 11.4696 17.6023 11.3854 17.7557 11.2354C17.9091 11.0854 17.9953 10.8821 17.9953 10.67V4.8009C17.9953 4.16469 17.7367 3.55455 17.2765 3.10468C16.8163 2.65482 16.1922 2.40209 15.5414 2.40209ZM14.7234 7.99932C14.7234 7.84117 14.6754 7.68657 14.5855 7.55508C14.4957 7.42359 14.3679 7.3211 14.2184 7.26058C14.069 7.20006 13.9045 7.18422 13.7458 7.21508C13.5872 7.24593 13.4414 7.32208 13.327 7.43391C13.2126 7.54574 13.1347 7.68821 13.1032 7.84332C13.0716 7.99843 13.0878 8.1592 13.1497 8.30531C13.2116 8.45142 13.3165 8.5763 13.451 8.66416C13.5855 8.75203 13.7436 8.79892 13.9054 8.79892C14.1224 8.79892 14.3304 8.71468 14.4838 8.56472C14.6372 8.41477 14.7234 8.21139 14.7234 7.99932Z" />
                    </svg>

                </div>
                <span class="text-sm font-medium">Gestión Pagos </span>
            </a>
        </li>
    </ul>
</aside>