@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Inputs , Textarea personlizados */

textarea:focus,
input:focus,
input[type]:focus {
    border-color: #4cb2fb;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(73, 174, 246, 0.6);
    outline: 0 none;
}


/* Eliminar el spiket de los tipos number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* Color Personalizado del los input de type Radio */

[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: rgba(113, 188, 241, 0.87);
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
}


/* Quitar Margen a los Modales de Angular Material */

.mat-dialog-container {
    display: block;
    padding: 0% !important;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}


/* Color del input - */

textarea:focus,
input:focus,
input[type]:focus {
    border-color: #1491ED;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(20, 145, 237, 0.6);
    outline: 0 none;
}


/* Scrooll Personalizado */

.scroollpersonalizadotabla {
    background: #fff;
    overflow: auto;
    border-radius: 4px;
}

.scroollpersonalizadotabla::-webkit-scrollbar {
    width: 3px;
}

.scroollpersonalizadotabla::-webkit-scrollbar-thumb {
    background: #E1E1E1;
    border-radius: 7px;
}

thead tr th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
}

@media (max-width: 412px) {
    .navbarprincipal {
        display: inline-block;
        justify-content: center;
        width: 100%;
    }
    .ruclogo {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .select-box {
        width: 70%;
    }
    .scroollpersonalizadotabla {
        background: #fff;
        overflow: auto;
        border-radius: 4px;
    }
    .scroollpersonalizadotabla::-webkit-scrollbar {
        width: 8px;
    }
    .scroollpersonalizadotabla::-webkit-scrollbar-thumb {
        background: #E1E1E1;
        border-radius: 7px;
    }
}


/* Elimiar las direccionales de  un imput de  tipy numbers */


/* Focus para los  imput  */

.focus:focus {
    outline: none;
    box-shadow: 0 0 3px #2DA6FE;
    border-color: #2DA6FE;
}

.fondo {
    background-image: url(./assets/img/login/Adorno.svg);
    object-fit: contain;
}

.berna {
    color: #2DA6FE;
}

.shadow {
    box-shadow: 10px #D8D8D8;
}

.text-colorr {
    color: #2DA6FE;
}

.tabladeudas tr>td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tabladeudas tr>th {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #e7e2e2;
}

.tablahistorialpago tr {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #e7e2e2;
}

.tablahistorialpago thead tr th {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #e7e2e2;
}

.tablahistorialpago tbody tr td {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

@media all and (min-height: 1080px) {
    .alturalogin {
        height: 50rem;
    }
    .formulario {
        height: 33rem;
        margin-top: 6.02rem;
        margin-bottom: 6.02rem;
    }
}

@media all and (min-height: 1106px) {
    .alturalogin {
        height: 55rem;
    }
    .formulario {
        height: 50rem;
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
}

@media all and (min-height: 1138px) {
    .alturalogin {
        height: 75rem;
    }
    .formulario {
        height: 40rem;
    }
}

@media all and (min-height: 1603px) {
    .alturalogin {
        height: 70rem;
    }
    .formulario {
        height: 40rem;
    }
}

:root {
    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --warning-color: #f0932b;
    --danger-color: #2DA6FE;
    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #2da7fe1e;
    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242d;
    --dark-second-background: #181818;
}

.light {
    --main-bg-color: var(--light-background);
    --second-bg-color: var(--light-second-background);
    --main-color: var(--light-color);
    --second-color: var(--light-second-color);
}

.dark {
    --main-bg-color: var(--dark-background);
    --second-bg-color: var(--dark-second-background);
    --main-color: var(--dark-color);
    --second-color: var(--dark-second-color);
}

.light .logo-dark,
.light .light-icon {
    display: none;
}

.dark .logo-light,
.dark .dark-icon {
    display: none;
}

.bg-primary {
    background: var(--primary-color);
}

.bg-success {
    background: var(--success-color);
}

.bg-warning {
    background: var(--warning-color);
}

.bg-danger {
    background: var(--danger-color);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--main-bg-color);
    color: var(--main-color);
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-link {
    float: left;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    color: var(--second-color);
    position: relative;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-nav i {
    font-size: 1.4rem;
}

.nav-right {
    margin-left: auto;
}

.navbar-search {
    position: relative;
    margin: auto;
    width: 50%;
}

.navbar-search input {
    background: var(--second-bg-color);
    border: none;
    padding: 12px 50px 12px 50px;
    width: 100%;
    outline: none;
    color: var(--main-color);
    border-radius: 20px;
}

.navbar-search i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: var(--second-color);
    cursor: pointer;
}

.logo {
    height: 60px;
    padding: 10px;
}

.avt img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.avt {
    padding: 11px;
}

.navbar-badge {
    font-size: 0.6rem;
    padding: 2px 4px;
    font-weight: 300;
    position: absolute;
    right: 5px;
    top: 9px;
    color: #fff;
    background: var(--danger-color);
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20%;
    top: 90%;
    background: var(--main-bg-color);
    width: 23rem;
    max-width: 1000px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: unset;
    border: 0.125px solid var(--second-bg-color);
}

.dropdown-expand {
    display: flex;
}

.notification-menu {
    min-width: 360px;
}

.dropdown-menu-content {
    max-height: 430px;
    overflow-y: auto;
}

.dropdown-menu-item {
    width: 100%;
}

.dropdown-menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--main-color);
}

.dropdown-menu-link div {
    min-width: 82px;
    height: 40px;
    position: relative;
}

.dropdown-menu-link i {
    font-size: 1.25rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
    font-size: 15px;
    width: 298px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-link span>span {
    font-size: 10px;
}

.dropdown-menu-link:hover {
    cursor: pointer;
    background: var(--second-bg-color);
}

.dropdown-menu-header {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid var(--second-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.wrapper {
    padding: 10px;
    margin-left: 250px;
    padding-top: 75px;
    transition: margin-left 0.5s;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-top: 65px;
    background: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    overflow: hidden;
    background: white;
    z-index: 10;
    transition: width 0.5s;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-link {
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
}

.sidebar-nav-link svg {
    font-size: 1.5rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.sidebar-nav-link:hover {
    background: var(--second-bg-color);
}

.sidebar-nav-link.active {
    background: var(--second-bg-color);
    color: var(--danger-color);
}

.sidebar-nav-link.active div {
    border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active svg {
    color: var(--danger-color);
    margin-left: -5px;
}

.sidebar-expand .sidebar {
    width: 250px;
}

.sidebar-expand .wrapper {
    margin-left: 250px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row:after,
.row:before {
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 10px;
}


/* Extra small devices <= 600px */

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }
    .wrapper {
        margin-left: 0;
    }
    .sidebar-expand .wrapper {
        margin-left: 0;
    }
    .nav-right .nav-item {
        display: none;
    }
    .nav-right .mode,
    .nav-right .avt-wrapper {
        display: list-item;
    }
    .navbar-search {
        display: none;
    }
    .dropdown-menu {
        max-width: 300px;
    }
    [class*="col-"] {
        width: 100%;
    }
}


/* Small devices >= 600px */

@media only screen and (min-width: 600px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar-expand .sidebar {
        width: 82px;
    }
    .sidebar {
        width: 250px;
    }
    .wrapper {
        margin-left: 250px;
    }
    .sidebar-expand .wrapper {
        margin-left: 82px;
    }
    .sidebar:hover {
        width: 250px;
    }
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}


/* laptops/desktops >= 992px */

@media only screen and (min-width: 992px) {
    .sidebar-expand .sidebar {
        width: 82px;
    }
    .sidebar {
        width: 250px;
    }
    .wrapper {
        margin-left: 250px;
    }
    .sidebar-expand .wrapper {
        margin-left: 82px;
    }
    .sidebar:hover {
        width: 250px;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}


/* large laptops and desktops >= 1200px */

@media only screen and (min-width: 1200px) {
    .sidebar-expand .sidebar {
        width: 82px;
    }
    .sidebar {
        width: 250px;
    }
    .wrapper {
        margin-left: 250px;
    }
    .sidebar-expand .wrapper {
        margin-left: 82px;
    }
    .sidebar:hover {
        width: 250px;
    }
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }
}

.counter {
    padding: 16px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.couner svg {
    font-size: 50px;
}

.card {
    background: var(--main-bg-color);
    color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
    padding: 15px 30px;
    border-bottom: 1px solid var(--second-bg-color);
    position: relative;
}

.card-header svg {
    color: var(--main-color);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.card-header svg:hover {
    cursor: pointer;
}

.card-header h3 {
    margin: 0;
}

.card-content {
    padding: 20px;
    overflow-x: auto;
}

mat-elevation-z8 {
    padding: 4px;
}

.collection {
    padding-left: 0;
    list-style-type: none;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: auto;
    position: relative;
}

.collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    list-style-type: none;
}

.my-menu {
    background-color: #fff;
    border: 1px solid rosybrown;
    padding: 20px;
}

.user-menu {
    background-color: #fafafa;
    padding: 4pt;
    font-size: 10pt;
    z-index: 1000;
    box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
    border-radius: 4pt;
    padding: 0.5em 0 0.5em 0;
    animation: fadeIn 0.1s ease-out;
    opacity: 1;
    display: block;
}

.user-menu hr {
    border: none;
    border-bottom: 1px solid #eee;
}

.user-menu div {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5em 2em 0.5em 0.75em;
    max-width: 18em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-menu div:hover {
    background-color: #333;
    color: #fff;
}

.user-menu div::before {
    content: "";
    float: left;
    margin-right: 0.75em;
    width: 0.5em;
    height: 1em;
    display: inline-block;
}


/* Animatinons */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.is-fadingIn {
    -webkit-animation: fadeIn 0.1s ease-out;
    animation: fadeIn 0.1s ease-out;
    opacity: 1;
    display: block;
}

.is-fadingOut {
    -webkit-animation: fadeOut 0.1s ease-out;
    animation: fadeOut 0.1s ease-out;
    opacity: 0;
    display: block;
}

.example-table-container {
    position: relative;
    max-height: 30vh;
    overflow: auto;
    padding: 2px;
}

.example-container {
    max-height: 60vh;
    overflow-y: auto;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #ce2222;
}

.mat-dialog-container {
    display: block;
    padding: 2px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.respo {
    height: auto;
}

@media screen and (max-width: 768px) {
    .respo {
        height: 500px;
    }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-left-color: #EA3E3E;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}