<main class="lg:w-130 lg:h-98 md:h-99 sm:h-98 h-97 overflow-auto font-Roboto">
    <section class=" sm:p-9 p-6 border-b-1 border-plomo-150 ">
        <div class="  flex  justify-between items-center text-black">
            <span class="font-grande text-xl">Tipo de Pago</span>
            <button mat-dialog-close class="focus:outline-none"> <img src="assets/img/cerrar.svg" alt=""></button>
        </div>
    </section>
    <section class="sm:p-9 p-6">
        <div class="text-black font-medium text-base">Con Tarjeta</div>
        <div class="text-plomo-330  py-4">Aceptamos todas las tajetas, paga ahora con total seguridad y confianza.</div>
        <div class=" grid xl:grid-cols-8 lg:grid-cols-6 md:grid-cols-5 sm:grid-cols-4 grid-cols-3 gap-4  bg-plomo-195  w-full p-4">
            <img class=" shadow-md rounded-sm object-contain w-28 " *ngFor="let item of card" [src]="item.nombre" alt="">
            <!-- <img class=" w-full object-cover bg-cover h-full" src="assets/img/modals/pagarahora/tarjetas.svg" alt=""> -->
        </div>

        <div class="pt-3">
            <button class="bg-oscuro-480 hover:bg-oscuro-650 font-grande text-white rounded-md focus:outline-none px-7  py-3">PAGAR AHORA</button>
        </div>
        <div class="pt-8 text-black font-medium text-base">Trasnferencia Bancaria e Interbancaria</div>
        <div class="text-plomo-330 pt-3 pb-10">Realiza una transferencia bancaria o interbancaria, este ultimo puede tomar algunas horas mientras las agencias procesan tu pago.</div>
        <div class="space-y-5">
            <div class="flex justify-between">
                <div>Cuenta BCP:</div>
                <div class="flex gap-3 items-center"><span class="text-plomo-330 ">8089 59009 52920 92</span><button class="bg-azul-450 p-3 focus:outline-none rounded-md"><img  src="assets/img/modals/pagarahora/agregar.svg" alt=""></button> </div>
            </div>
            <div class="flex justify-between">
                <div>Cuenta BCP Interbancario:</div>
                <div class="flex gap-3 items-center"><span class="text-plomo-330 ">1000222 8089 59009 52920 92 </span><button class="bg-azul-450 p-3 focus:outline-none rounded-md"><img  src="assets/img/modals/pagarahora/agregar.svg" alt=""></button> </div>
            </div>
        </div>
    </section>
</main>