<section class="flex justify-center w-full items-end pt-10 xl:pt-2">
    <footer class="bg-plomo-900 py-2 text-white bottom-0  z-10 fixed  w-full bg-oscuro-650">
        <div class="flex w-full justify-center">© 2020 Innovated. Todos los derechos reservados.</div>
    </footer>
</section>